/* /Pages/Projects.razor.rz.scp.css */
.card-title[b-1oc032h80l] {
    font-size: xx-large;
    color: var(--apt-accent-1);
}

.card[b-1oc032h80l] {
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
    background-color: var(--apt-accent-shade-4) !important;
    color: var(--apt-accent-2) !important;
}

.navbar-nav > li > .dropdown-menu[b-1oc032h80l] {
    margin-top: 0;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    background-color: var(--apt-accent-shade-4-shadow) !important;
    backdrop-filter: var(--apt-styling-blur-strength);
    -webkit-backdrop-filter: var(--apt-styling-blur-strength);
}

.dropdown-menu > li > a:focus[b-1oc032h80l], .dropdown-menu > li > a:hover[b-1oc032h80l] {
    text-decoration: none;
    background-color: unset;
    color: var(--apt-accent-shade-5);
}

.dropdown-menu > .active > a[b-1oc032h80l], .dropdown-menu > .active > a:focus[b-1oc032h80l], .dropdown-menu > .active > a:hover[b-1oc032h80l] {
    color: var(--apt-accent-2);
    text-decoration: none;
    background-color: var(--apt-accent-shade-3);
    outline: 0;
}

.dropdown-menu[b-1oc032h80l], ul.dropdown-menu[b-1oc032h80l], ul.dropdown-menu.tools[b-1oc032h80l] {
    backdrop-filter: var(--apt-styling-blur-strength);
    -webkit-backdrop-filter: var(--apt-styling-blur-strength);
    background-color: var(--apt-accent-shade-4-shadow) !important;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
}

.dropdown-item[b-1oc032h80l] {
    color: var(--apt-accent-2);
}

    .dropdown-item:hover[b-1oc032h80l], .dropdown-item:active[b-1oc032h80l] {
        color: var(--apt-accent-shade-5);
        background-color: var(--apt-accent-shade-1);
    }

    .dropdown-item:focus[b-1oc032h80l] {
        color: var(--apt-accent-shade-5);
        background-color: var(--apt-accent-shade-2);
    }

.dropdown-header[b-1oc032h80l] {
    color: var(--apt-accent-shade-5);
}

.dropdown-divider[b-1oc032h80l] {
    border-top-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
}

.icon-square-projects-image[b-1oc032h80l] {
    width: 100%;
    max-width: 256px;
    height: auto;
    aspect-ratio: 1 / 1;
}
/* /Shared/Carousel.razor.rz.scp.css */
.carousel-caption[b-sdvlwcqyb1] {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: end;
    padding-bottom: 2em;
}

.caption-content[b-sdvlwcqyb1] {
    display: none;
}

    .caption-content.active[b-sdvlwcqyb1] {
        display: block;
    }

.carousel-control-next-icon[b-sdvlwcqyb1] {
    background-image: var(--apt-arrow-left-svg-url);
}

.carousel-control-prev-icon[b-sdvlwcqyb1] {
    background-image: var(--apt-arrow-right-svg-url);
}

.carousel-container[b-sdvlwcqyb1] {
    max-width: 100%;
    overflow: hidden;
}

.carousel-captions-container[b-sdvlwcqyb1] {
    min-width: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.carousel-item img[b-sdvlwcqyb1] {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 767px) {
    .carousel-captions-container[b-sdvlwcqyb1] {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 768px) {
    .d-flex.flex-column[b-sdvlwcqyb1] {
        flex-direction: row !important;
        align-items: center;
    }

    .carousel-captions-container[b-sdvlwcqyb1] {
        margin: 0 1rem;
    }
}
/* /Shared/CarouselImages.razor.rz.scp.css */
.carousel-control-next-icon[b-7xunvrioi8] {
    background-image: var(--apt-arrow-left-svg-url);
}

.carousel-control-prev-icon[b-7xunvrioi8] {
    background-image: var(--apt-arrow-right-svg-url);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-e2slix75g4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-e2slix75g4] {
    flex: 1;
}

@media (min-width: 992px) {
    .content[b-e2slix75g4] {
        padding-right: 8rem !important;
        padding-left: 8rem !important;
    }
}

.content[b-e2slix75g4] {
    padding-bottom: 4rem !important;
}

.container-fluid[b-e2slix75g4] {
    padding-right: 3rem;
    padding-left: 2rem;
}

.sidebar[b-e2slix75g4] {
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1;
    padding-right: 2rem;
    padding-left: 2rem;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.nav-item[b-bqqyygtbjk] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
}

    .nav-item[b-bqqyygtbjk]  a {
        color: var(--apt-accent-2);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-bqqyygtbjk]  a.active {
            background-color: unset;
            color: var(--apt-accent-shade-5);
        }

        .nav-item[b-bqqyygtbjk]  a:hover {
            background-color: unset;
            color: var(--apt-accent-shade-5);
        }

.navbar-toggler[b-bqqyygtbjk] {
    background-color: transparent;
    color: var(--apt-accent-2);
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    border-radius: .75rem;
}

    .navbar-toggler:active[b-bqqyygtbjk] {
        background-color: unset;
        color: var(--apt-accent-shade-5);
    }

    .navbar-toggler:hover[b-bqqyygtbjk] {
        background-color: unset;
        color: var(--apt-accent-shade-5);
    }

.nav-pills > li.active > a[b-bqqyygtbjk], .nav-pills > li.active > a:focus[b-bqqyygtbjk], .nav-pills > li.active > a:hover[b-bqqyygtbjk] {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-1);
}

.panel[b-bqqyygtbjk], .navbar-default[b-bqqyygtbjk], .navbar-fixed-top[b-bqqyygtbjk], .navbar-toggle[b-bqqyygtbjk], .navbar-default .navbar-toggle:hover[b-bqqyygtbjk] {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
}

    .navbar-default .navbar-brand[b-bqqyygtbjk] {
        color: var(--apt-accent-shade-3) !important;
        font-family: var(--apt-font-style-head);
    }

.navbar-fixed-top[b-bqqyygtbjk] {
    margin: 0.5em;
}

.navbar-default .navbar-collapse[b-bqqyygtbjk], .navbar-default[b-bqqyygtbjk] {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
}

.navbar-fixed-top[b-bqqyygtbjk], .navbar-default[b-bqqyygtbjk] {
    backdrop-filter: var(--apt-styling-blur-strength);
    -webkit-backdrop-filter: var(--apt-styling-blur-strength);
    background-color: var(--apt-accent-shade-4-shadow) !important;
}

    .navbar-default .navbar-collapse[b-bqqyygtbjk], .navbar-brand[b-bqqyygtbjk], .navbar-header[b-bqqyygtbjk] {
        background-color: transparent !important;
    }

    .navbar-default .navbar-nav > li > a[b-bqqyygtbjk] {
        color: var(--apt-accent-1);
    }

        .navbar-default .navbar-nav > li > a:focus[b-bqqyygtbjk], .navbar-default .navbar-nav > li > a:hover[b-bqqyygtbjk] {
            color: var(--apt-accent-1);
            background-color: transparent;
        }

    .nav > li > a:focus[b-bqqyygtbjk], .nav > li > a:hover[b-bqqyygtbjk], .navbar-default .navbar-nav > .open > a[b-bqqyygtbjk], .navbar-default .navbar-nav > .open > a:focus[b-bqqyygtbjk], .navbar-default .navbar-nav > .open > a:hover[b-bqqyygtbjk] {
        text-decoration: none;
        background-color: unset;
        color: var(--apt-accent-shade-5);
    }

.nav > li > a:hover[b-bqqyygtbjk], .navbar-nav > .open > a:hover[b-bqqyygtbjk] {
    background-color: unset;
    color: var(--apt-accent-shade-5);
}

#dw__toc .nav > li > a:hover[b-bqqyygtbjk] {
    border-left: var(--apt-styling-border-width-thin) solid var(--apt-accent-1);
}

#dw__toc .nav > .active > a[b-bqqyygtbjk], #dw__toc .nav > .active > a:hover[b-bqqyygtbjk], #dw__toc .nav > .active > a:focus[b-bqqyygtbjk] {
    font-weight: bold;
    background-color: transparent;
    border-left: var(--apt-styling-border-width) solid var(--apt-accent-1);
}

@media (min-width: 768px) {
    .nav-pills[b-bqqyygtbjk] {
        justify-content: flex-end;
    }
}

@media (max-width: 767px) {
    .navbar-collapse[b-bqqyygtbjk] {
        margin-top: 1rem;
        flex-basis: 100%;
        width: 100%;
    }

    .nav-pills[b-bqqyygtbjk] {
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item[b-bqqyygtbjk] {
        width: auto;
        flex: 0 0 auto;
    }

        .nav-item[b-bqqyygtbjk]  a {
            justify-content: center;
        }
}
