@page "/"
@using aptivi.github.io.Data
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime;

<PageTitle>Index</PageTitle>
<Hero Title="Welcome to Aptivi!">
	This is Aptivi, where tech changes. Est. 2014.
</Hero>

<body>
	<Jumbotron Title="Quick Glimpse" Branded="true" FontAwesomeIconClasses="fa-solid fa-info">
		Aptivi was established as an internet community on 2014 when we started providing the
		best solutions and repairs to our fellow computer users. We started from the computer
		forum websites as a member to a big community, and our missions have been expanded to
		provide you the best computer and mobile device solutions, as well as our tips and
		tricks and our programming projects. Today, we are providing you the best of the
		projects, made with love, care, and thought. We are focused on technology, and we are
		all about it, where tech changes. Our years of work have always helped users with the
		most complicated problems, while providing fresh news about our projects and about tech
		in general.
	</Jumbotron>
	<Features FeatureArray="@ProudPoints" />
	<Hero Title="Explore our work" Buttons="@DiscoverCallbacks">
		We really hope that our work excites you, so why not explore our work? You can press one
		of the below buttons to get started!
	</Hero>
</body>

@code
{
	FeatureDescriptor[] ProudPoints =>
	[
		new()
		{
		    IconClass = "fa-solid fa-cube",
			Title = "Quality > Quantity",
			Description =
				"All Aptivi products are made with extensive care and thorough testing to ensure that we provide " +
				"quality products to our users. Our trust in the \"quality over quantity\" principle ensures that " +
				"we make less projects while we maintain their high quality, ensuring that we keep serious bugs at " +
				"bay and that we audit our projects with extensive testing."
		},
		new()
		{
			IconClass = "fa-solid fa-hand-holding-heart",
			Title = "Helpful Community",
			Description =
				"During our entire lifetime, we are maintaining the helpful community, with rules and principles " +
				"to foster the community that is both helpful and respectful, while we maintain mutual relationships " +
				"with our users. We are always open to ethical communication and respectful discussion, and our " +
				"community is one of our strengths."
		},
		new()
		{
		    IconClass = "fa-solid fa-microchip",
			Title = "Improved Technology",
			Description =
				"Our primary focus here in Aptivi is the technology, because tech is all about us, and is what " +
				"defines us and our goals. Using improved technology as the method to provide you with our " +
				"projects, solutions, and blog posts, we are striving to use such technology to provide services " +
				"to our users and to our community."
		},
	];

	(EventCallback, string)[] DiscoverCallbacks =>
	[
		(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("projects"))), "Projects"),
		(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("downloads"))), "Downloads"),
		(EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://aptivi.gitbook.io", "_blank"))), "GitBook")
	];
}
