.card-title {
    font-size: xx-large;
    color: var(--apt-accent-1);
}

.card {
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
    background-color: var(--apt-accent-shade-4) !important;
    color: var(--apt-accent-2) !important;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    background-color: var(--apt-accent-shade-4-shadow) !important;
    backdrop-filter: var(--apt-styling-blur-strength);
    -webkit-backdrop-filter: var(--apt-styling-blur-strength);
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    text-decoration: none;
    background-color: unset;
    color: var(--apt-accent-shade-5);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: var(--apt-accent-2);
    text-decoration: none;
    background-color: var(--apt-accent-shade-3);
    outline: 0;
}

.dropdown-menu, ul.dropdown-menu, ul.dropdown-menu.tools {
    backdrop-filter: var(--apt-styling-blur-strength);
    -webkit-backdrop-filter: var(--apt-styling-blur-strength);
    background-color: var(--apt-accent-shade-4-shadow) !important;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
}

.dropdown-item {
    color: var(--apt-accent-2);
}

    .dropdown-item:hover, .dropdown-item:active {
        color: var(--apt-accent-shade-5);
        background-color: var(--apt-accent-shade-1);
    }

    .dropdown-item:focus {
        color: var(--apt-accent-shade-5);
        background-color: var(--apt-accent-shade-2);
    }

.dropdown-header {
    color: var(--apt-accent-shade-5);
}

.dropdown-divider {
    border-top-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
}

.icon-square-projects {
    width: 5rem;
    height: 5rem;
    border-radius: var(--apt-styling-border-radius);
    background-color: var(--apt-accent-shade-3) !important;
    color: var(--apt-accent-1) !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.icon-square-projects-image {
    width: 4rem;
    height: 4rem;
}
