<div class="p-5 mb-4 jumbotron rounded-3" style="background: linear-gradient(135deg,rgba(0, 0, 0, 1) 0%, rgba(21, 0, 51, 1) 100%); @ExtraStyles">
	@ChildContent
</div>

@code {
	[Parameter]
	public string ExtraStyles { get; set; }
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
