@using aptivi.github.io.Data
<div class="p-5 mb-4 jumbotron rounded-3 @BackgroundClass" style="@ExtraStyles">
	@ChildContent
</div>

@code {
	[Parameter]
	public string ExtraStyles { get; set; }
	[Parameter]
	public BackgroundType BackgroundType { get; set; } = BackgroundType.Gradient;
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	public string BackgroundClass =>
		BackgroundType == BackgroundType.Primary ? "background-primary" :
		BackgroundType == BackgroundType.Alternative ? "background-alternative" :
		BackgroundType == BackgroundType.Gradient ? "background-gradient" : "background-gradient";
}
