<button class="btn btn-primary" type="button" @onclick="@ClickAction">@ChildContent</button>

@code {
	[Parameter]
	public EventCallback ClickAction { get; set; }
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
