.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.page {
    flex-direction: row;
}

.sidebar {
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1;
    padding-right: 2rem;
    padding-left: 1rem;
}
