.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.page {
    flex-direction: row;
}

.sidebar {
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1;
    padding-right: 7rem;
    padding-left: 7rem;
}

.content {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
    padding-bottom: 4rem !important;
}

.container-fluid {
    padding-right: 8rem;
    padding-left: 7rem;
}
