.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
}

    .nav-item ::deep a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: #432a4c70;
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: #432a4c70;
            color: white;
        }
