.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
}

    .nav-item ::deep a {
        color: var(--apt-accent-2);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: unset;
            color: var(--apt-accent-shade-5);
        }

        .nav-item ::deep a:hover {
            background-color: unset;
            color: var(--apt-accent-shade-5);
        }

.navbar-toggler {
    background-color: transparent;
    color: var(--apt-accent-2);
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    border-radius: .75rem;
}

    .navbar-toggler:active {
        background-color: unset;
        color: var(--apt-accent-shade-5);
    }

    .navbar-toggler:hover {
        background-color: unset;
        color: var(--apt-accent-shade-5);
    }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-1);
}

.panel, .navbar-default, .navbar-fixed-top, .navbar-toggle, .navbar-default .navbar-toggle:hover {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
}

    .navbar-default .navbar-brand {
        color: var(--apt-accent-shade-3) !important;
        font-family: var(--apt-font-style-head);
    }

.navbar-fixed-top {
    margin: 0.5em;
}

.navbar-default .navbar-collapse, .navbar-default {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
}

.navbar-fixed-top, .navbar-default {
    backdrop-filter: var(--apt-styling-blur-strength);
    -webkit-backdrop-filter: var(--apt-styling-blur-strength);
    background-color: var(--apt-accent-shade-4-shadow) !important;
}

    .navbar-default .navbar-collapse, .navbar-brand, .navbar-header {
        background-color: transparent !important;
    }

    .navbar-default .navbar-nav > li > a {
        color: var(--apt-accent-1);
    }

        .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
            color: var(--apt-accent-1);
            background-color: transparent;
        }

    .nav > li > a:focus, .nav > li > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        text-decoration: none;
        background-color: unset;
        color: var(--apt-accent-shade-5);
    }

.nav > li > a:hover, .navbar-nav > .open > a:hover {
    background-color: unset;
    color: var(--apt-accent-shade-5);
}

#dw__toc .nav > li > a:hover {
    border-left: var(--apt-styling-border-width-thin) solid var(--apt-accent-1);
}

#dw__toc .nav > .active > a, #dw__toc .nav > .active > a:hover, #dw__toc .nav > .active > a:focus {
    font-weight: bold;
    background-color: transparent;
    border-left: var(--apt-styling-border-width) solid var(--apt-accent-1);
}

@media (min-width: 768px) {
    .nav-pills {
        justify-content: flex-end;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        margin-top: 1rem;
        flex-basis: 100%;
        width: 100%;
    }

    .nav-pills {
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item {
        width: auto;
        flex: 0 0 auto;
    }

        .nav-item ::deep a {
            justify-content: center;
        }
}
