<header class="d-flex flex-wrap justify-content-between align-items-center py-3">
	<a href="" class="d-flex align-items-center link-body-emphasis text-decoration-none">
		<img src="assets/logos/aptivi-logo-transparent-ios.png" width="64" />
	</a>

	<button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle the navigation for the Aptivi website">
		<span class="fa fa-bars"></span>
	</button>

	<div class="collapse navbar-collapse d-md-block" id="navbarNav" style="flex-basis: auto;">
		<ul class="nav nav-pills flex-column flex-md-row">
			<li class="nav-item"><NavLink href="" class="nav-link" Match="NavLinkMatch.All"><span class="fa fa-home" aria-hidden="true"></span></NavLink></li>
			<li class="nav-item"><NavLink href="projects" class="nav-link"><span class="fa fa-diagram-project" aria-hidden="true"></span></NavLink></li>
			<li class="nav-item"><NavLink href="downloads" class="nav-link"><span class="fa fa-download" aria-hidden="true"></span></NavLink></li>
			<li class="nav-item"><NavLink href="old-articles" class="nav-link"><span class="fa-solid fa-clock" aria-hidden="true"></span></NavLink></li>
			<li class="nav-item"><NavLink href="status" class="nav-link"><span class="fa-solid fa-check" aria-hidden="true"></span></NavLink></li>
			<li class="nav-item"><NavLink href="Demos" class="nav-link"><span class="fa-solid fa-flask" aria-hidden="true"></span></NavLink></li>
			<li class="nav-item"><NavLink href="https://aptivi.gitbook.io" class="nav-link"><span class="fa-solid fa-book" aria-hidden="true"></span></NavLink></li>
			<li class="nav-item"><NavLink href="https://officialaptivi.wordpress.com/" class="nav-link"><span class="fa fa-blog" aria-hidden="true"></span></NavLink></li>
		</ul>
	</div>
</header>
