<header class="d-flex flex-wrap justify-content-center py-3">
	<a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
		<img src="assets/logos/aptivi-written-transparent.png" width="190" />
	</a>

	<ul class="nav nav-pills">
		<li class="nav-item"><NavLink href="" class="nav-link" Match="NavLinkMatch.All"><span class="fa fa-home" aria-hidden="true"></span></NavLink></li>
		<li class="nav-item"><NavLink href="projects" class="nav-link"><span class="fa fa-diagram-project" aria-hidden="true"></span></NavLink></li>
		<li class="nav-item"><NavLink href="downloads" class="nav-link"><span class="fa fa-download" aria-hidden="true"></span></NavLink></li>
		<li class="nav-item"><NavLink href="old-articles" class="nav-link"><span class="fa-solid fa-clock" aria-hidden="true"></span></NavLink></li>
		<li class="nav-item"><NavLink href="status" class="nav-link"><span class="fa-solid fa-check" aria-hidden="true"></span></NavLink></li>
		<li class="nav-item"><NavLink href="Demos" class="nav-link"><span class="fa-solid fa-flask" aria-hidden="true"></span></NavLink></li>
		<li class="nav-item"><NavLink href="https://aptivi.gitbook.io" class="nav-link"><span class="fa-solid fa-book" aria-hidden="true"></span></NavLink></li>
		<li class="nav-item"><NavLink href="https://officialaptivi.wordpress.com/" class="nav-link"><span class="fa fa-blog" aria-hidden="true"></span></NavLink></li>
	</ul>
</header>
