.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
}

    .nav-item ::deep a {
        color: var(--apt-accent-2);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: unset;
            color: var(--apt-accent-shade-5);
        }

        .nav-item ::deep a:hover {
            background-color: unset;
            color: var(--apt-accent-shade-5);
        }

.navbar-toggler {
    background-color: transparent;
    color: var(--apt-accent-2);
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    border-radius: .75rem;
}

    .navbar-toggler:active {
        background-color: unset;
        color: var(--apt-accent-shade-5);
    }

    .navbar-toggler:hover {
        background-color: unset;
        color: var(--apt-accent-shade-5);
    }

@media (min-width: 768px) {
    .nav-pills {
        justify-content: flex-end;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        margin-top: 1rem;
        flex-basis: 100%;
        width: 100%;
    }

    .nav-pills {
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item {
        width: auto;
        flex: 0 0 auto;
    }

        .nav-item ::deep a {
            justify-content: center;
        }
}
