@import url('font-awesome/css/all.css');

:root {
    --apt-accent-back: #000000;
    --apt-accent-back-transparent: #000000D0;
    --apt-accent-1: #6700FF;
    --apt-accent-2: #FFFFFF;
    --apt-accent-shade-1: #3E0099;
    --apt-accent-shade-2: #220055;
    --apt-accent-shade-3: #150033;
    --apt-accent-shade-4: #070011;
    --apt-accent-shade-5: #9044FF;
    --apt-accent-sub: gray;
    --apt-accent-1-shadow: #6700FF80;
    --apt-accent-shade-4-shadow: #070011D0;
    --apt-font-style-head: 'Space Mono', "Cairo", monospace;
    --apt-font-style-sans: 'Inter', "Cairo", sans-serif;
    --apt-font-style-mono: 'JetBrains Mono', "Cairo", monospace;
    --apt-styling-border-radius: .75rem;
    --apt-styling-border-width: 2px;
    --apt-styling-border-width-thin: 1px;
    --apt-styling-blur-strength: blur(8px);
    --apt-styling-unified-box-shadow: var(--apt-accent-1-shadow) 0 0 0 0.10rem;
    --apt-arrow-left-svg-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239044ff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --apt-arrow-right-svg-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239044ff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    --apt-arrow-up-svg-url: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%236700FF' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
    --apt-arrow-down-svg-url: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%236700FF' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: var(--apt-accent-back);
}

::-webkit-scrollbar-thumb {
    background-color: var(--apt-accent-1);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--apt-accent-shade-1);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: var(--apt-accent-shade-1);
    }

html, body {
    font-family: var(--apt-font-style-sans);
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-back) !important;
}

.wikilink1, .urlextern, .breadcrumb, .accent1 {
    color: var(--apt-accent-1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--apt-font-style-head);
    font-weight: 400;
    color: var(--apt-accent-1);
}

code, pre {
    font-family: var(--apt-font-style-mono);
    color: var(--apt-accent-1);
    background-color: var(--apt-accent-back) !important;
}

.bordered {
    border: solid;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
}

input, select {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
}

pre {
    background-color: var(--apt-accent-shade-3);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
}

.panel, .breadcrumb, .navbar-default, .navbar-fixed-top, .navbar-toggle, .navbar-default .navbar-toggle:hover {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius);
}

    .navbar-default .navbar-brand {
        color: var(--apt-accent-shade-3) !important;
        font-family: var(--apt-font-style-head);
    }

.navbar-fixed-top {
    margin: 0.5em;
}

.panel-default > .panel-heading {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
    border-radius: var(--apt-styling-border-radius);
}

.panel-default > .panel-heading, .navbar-default .navbar-collapse, .navbar-default {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
}

.page-header, .divider, hr, .breadcrumb {
    border-color: var(--apt-accent-1);
    border-top-color: var(--apt-accent-1);
    border-top-width: var(--apt-styling-border-width);
}

.page-header {
    border-bottom-width: var(--apt-styling-border-width);
}

.dropdown-menu .divider {
    background-color: var(--apt-accent-1);
    height: var(--apt-styling-border-width);
}

table, thead, tr, td, th, .table > thead > tr > th {
    border: solid;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius) !important;
    background-color: var(--apt-accent-shade-3) !important;
    color: var(--apt-accent-2) !important;
}

a, .btn-link {
    color: var(--apt-accent-1);
}

.dropdown-item {
    color: var(--apt-accent-2);
}

    .dropdown-item:hover, .dropdown-item:active {
        color: var(--apt-accent-shade-5);
        background-color: var(--apt-accent-shade-1);
    }

    .dropdown-item:focus {
        color: var(--apt-accent-shade-5);
        background-color: var(--apt-accent-shade-2);
    }

.dropdown-header {
    color: var(--apt-accent-shade-5);
}

.dropdown-divider {
    border-top-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
}

.btn-primary, .btn, .form-control {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
}

    .btn-primary:hover, .btn:hover, .btn-primary:active, .btn:active, .btn.show {
        color: var(--apt-accent-2) !important;
        background-color: var(--apt-accent-shade-1) !important;
        border-color: var(--apt-accent-1) !important;
        border-width: var(--apt-styling-border-width);
    }

    .btn-primary:focus, .btn:focus {
        color: var(--apt-accent-2);
        background-color: var(--apt-accent-shade-1);
        border-color: var(--apt-accent-1);
        border-width: var(--apt-styling-border-width);
        box-shadow: var(--apt-styling-unified-box-shadow);
    }

.btn-secondary {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-back);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
}

    .btn-secondary:hover, .btn-secondary:active {
        color: var(--apt-accent-2) !important;
        background-color: var(--apt-accent-shade-3) !important;
        border-color: var(--apt-accent-1) !important;
        border-width: var(--apt-styling-border-width);
    }

    .btn-secondary:focus {
        color: var(--apt-accent-2);
        background-color: var(--apt-accent-shade-3);
        border-color: var(--apt-accent-1);
        border-width: var(--apt-styling-border-width);
        box-shadow: var(--apt-styling-unified-box-shadow);
    }

.content {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

#blazor-error-ui {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-4);
    bottom: 0;
    box-shadow: var(--apt-styling-unified-box-shadow);
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.card-title {
    font-size: xx-large;
    color: var(--apt-accent-1);
}

.icon-square {
    width: 5rem;
    height: 5rem;
    border-radius: var(--apt-styling-border-radius);
    background-color: var(--apt-accent-shade-3) !important;
    color: var(--apt-accent-1) !important;
}

.icon-square-invert {
    width: 5rem;
    height: 5rem;
    border-radius: var(--apt-styling-border-radius);
    background-color: var(--apt-accent-shade-3) !important;
    color: var(--apt-accent-1) !important;
}

.icon-square-projects {
    width: 9rem;
    height: 9rem;
    border-radius: var(--apt-styling-border-radius);
    border-color: var(--apt-accent-1);
    border-width: 0.1rem;
    border: solid;
    margin: 0.15rem;
    background-color: var(--apt-accent-back) !important;
    color: var(--apt-accent-1) !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card {
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: 1em;
    background-color: var(--apt-accent-shade-4) !important;
    color: var(--apt-accent-2) !important;
}

.jumbotron {
    border: solid;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: 1em !important;
    background-color: var(--apt-accent-shade-4) !important;
    color: var(--apt-accent-2) !important;
}

.modal-header {
    border-bottom-color: var(--apt-accent-shade-5);
}

.modal-footer {
    border-top-color: var(--apt-accent-shade-5);
}

.col-lg-4 {
    padding-top: calc(var(--bs-gutter-x)* .5);
    padding-bottom: calc(var(--bs-gutter-x)* .5);
}

.carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: end;
    padding-bottom: 2em;
}

    .caption-content {
        display: none;
    }

    .caption-content.active {
        display: block;
    }

.carousel-control-next-icon {
    background-image: var(--apt-arrow-left-svg-url);
}

.carousel-control-prev-icon {
    background-image: var(--apt-arrow-right-svg-url);
}

.translucency-rule-black {
    backdrop-filter:  var(--apt-styling-blur-strength);
    -webkit-backdrop-filter:  var(--apt-styling-blur-strength);
    background-color: var(--apt-accent-back-transparent) !important;
}

.translucency-rule, .navbar-fixed-top, .navbar-default, .dropdown-menu, .navbar-nav > li > .dropdown-menu, ul.dropdown-menu {
    backdrop-filter:  var(--apt-styling-blur-strength);
    -webkit-backdrop-filter:  var(--apt-styling-blur-strength);
    background-color: var(--apt-accent-shade-4-shadow) !important;
}

    ul.dropdown-menu.tools, ul.dropdown-menu, .dropdown-menu, .navbar-nav > li > .dropdown-menu {
        border-color: var(--apt-accent-1);
        border-width: var(--apt-styling-border-width);
        border-radius: var(--apt-styling-border-radius);
    }

    .navbar-default .navbar-collapse, .navbar-brand, .navbar-header {
        background-color: transparent !important;
    }

    .navbar-default .navbar-nav > li > a {
        color: var(--apt-accent-1);
    }

        .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
            color: var(--apt-accent-1);
            background-color: transparent;
        }

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.nav > li > a:focus, .nav > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    text-decoration: none;
    background-color: unset;
    color: var(--apt-accent-shade-5);
}

.nav > li > a:hover, .dropdown-menu > li > a:hover, .navbar-nav > .open > a:hover {
    background-color: unset;
    color: var(--apt-accent-shade-5);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: var(--apt-accent-2);
    text-decoration: none;
    background-color: var(--apt-accent-shade-3);
    outline: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-1);
}

input#qsearch.form-control, div.input-group-btn {
    height: fit-content;
}

#dw__toc .nav > li > a:hover {
    border-left: var(--apt-styling-border-width-thin) solid var(--apt-accent-1);
}

#dw__toc .nav > .active > a, #dw__toc .nav > .active > a:hover, #dw__toc .nav > .active > a:focus {
    font-weight: bold;
    background-color: transparent;
    border-left: var(--apt-styling-border-width) solid var(--apt-accent-1);
}

.tooltip-apt {
    font-family: var(--apt-font-style-sans), 'Font Awesome 6 Free', 'Font Awesome 6 Brands';
    --bs-tooltip-bg: var(--apt-accent-shade-5);
    --bs-tooltip-color: var(--apt-accent-2);
    --bs-tooltip-max-width: 700px;
    --bs-tooltip-border-radius: 0.5em;
    --bs-tooltip-arrow-width: 0px;
    --bs-tooltip-arrow-height: 0px;
}

.sub {
    font-style: oblique;
    font-size: smaller;
    color: var(--apt-accent-sub);
}

.loading-progress {
    position: absolute;
    display: block;
    width: 8rem;
    height: 8rem;
    inset: 20vh 0 auto 0;
    margin: 0 auto 0 auto;
}

    .loading-progress circle {
        fill: none;
        stroke: var(--apt-accent-shade-3);
        stroke-width: 0.3rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: var(--apt-accent-shade-5);
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.accordion-header {
    border-radius: inherit !important;
}

.accordion-item:not(:first-of-type) {
    border-top-width: var(--apt-styling-border-width);
    border-top-style: solid;
    border-top-color: var(--apt-accent-1);
    margin-top: 10px;
}

.accordion {
    --bs-accordion-btn-icon: var(--apt-arrow-down-svg-url);
    --bs-accordion-btn-active-icon: var(--apt-arrow-up-svg-url);
}

.accordion-button {
    color: var(--apt-accent-1);
    background-color: var(--apt-accent-shade-3);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: inherit !important;
    box-shadow: none;
}

    .accordion-button:not(.collapsed) {
        color: var(--apt-accent-1);
        background-color: var(--apt-accent-shade-3);
        border-color: var(--apt-accent-1);
        border-width: var(--apt-styling-border-width);
        border-radius: inherit !important;
        box-shadow: none;
    }

    .accordion-button:focus {
        z-index: unset;
        box-shadow: none;
    }

.label-primary {
    background-color: var(--apt-accent-1);
}

.d-sm-flex {
    flex-wrap: wrap;
}
