@import url('font-awesome/css/all.css');

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #6700FF;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #3E0099;
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: #3E0099;
    }

html, body {
    font-family: Inter, "Cairo";
    color: white;
    background-color: black !important;
}

.wikilink1, .urlextern, .breadcrumb {
    color: #6700FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Mono', "Cairo";
    font-weight: 400;
    color: #6700FF;
}

code, pre {
    font-family: 'JetBrains Mono', "Cairo";
    color: #6700FF;
    background-color: black !important;
}

.bordered {
    border: solid;
    border-color: #6700FF;
    border-width: 2px;
    border-radius: .75rem;
}

input, select {
    color: white;
    background-color: #150033;
    border-color: #6700FF;
    border-width: 2px;
    border-radius: .75rem;
}

pre {
    background-color: #150033;
    border-color: #6700FF;
    border-width: 2px;
    border-radius: .75rem;
}

.panel, .breadcrumb, .navbar-default, .navbar-fixed-top, .navbar-toggle, .navbar-default .navbar-toggle:hover {
    color: white;
    background-color: #150033;
    border-color: #6700FF;
    border-width: 2px;
    border-radius: .75rem;
}

    .navbar-default .navbar-brand {
        color: #150033 !important;
        font-family: 'Space Mono', "Cairo";
    }

.navbar-fixed-top {
    margin: 0.5em;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #150033;
    border-radius: .75rem;
}

.panel-default > .panel-heading, .navbar-default .navbar-collapse, .navbar-default {
    color: white;
    background-color: #150033;
}

.page-header, .divider, hr, .breadcrumb {
    border-color: #6700FF;
    border-top-color: #6700FF;
    border-top-width: 2px;
}

.page-header {
    border-bottom-width: 2px;
}

.dropdown-menu .divider {
    background-color: #8F54AB;
    height: 2px;
}

table, thead, tr, td, th, .table > thead > tr > th {
    border: solid;
    border-color: #6700FF;
    border-width: 2px;
    border-radius: 1em !important;
    background-color: #150033 !important;
    color: white !important;
}

a, .btn-link {
    color: #6700FF;
}

.dropdown-item {
    color: white;
}

    .dropdown-item:hover, .dropdown-item:active {
        color: #9044FF;
        background-color: #3E0099;
    }

    .dropdown-item:focus {
        color: #9044FF;
        background-color: #220055;
    }

.dropdown-header {
    color: #9044FF;
}

.dropdown-divider {
    border-top-color: #6700FF;
    border-width: 2px;
}

.btn-primary, .btn, .form-control {
    color: white;
    background-color: #150033;
    border-color: #6700FF;
    border-width: 2px;
}

    .btn-primary:hover, .btn:hover, .btn-primary:active, .btn:active, .btn.show {
        color: white !important;
        background-color: #3E0099 !important;
        border-color: #6700FF !important;
        border-width: 2px;
    }

    .btn-primary:focus, .btn:focus {
        color: white;
        background-color: #3E0099;
        border-color: #6700FF;
        border-width: 2px;
        box-shadow: #6700FF80 0 0 0 0.10rem;
    }

.btn-secondary {
    color: white;
    background-color: black;
    border-color: #6700FF;
    border-width: 2px;
}

    .btn-secondary:hover, .btn-secondary:active {
        color: white !important;
        background-color: #150033 !important;
        border-color: #6700FF !important;
        border-width: 2px;
    }

    .btn-secondary:focus {
        color: white;
        background-color: #150033;
        border-color: #6700FF;
        border-width: 2px;
        box-shadow: #6700FF80 0 0 0 0.10rem;
    }

.content {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

#blazor-error-ui {
    color: white;
    background-color: #40005b;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.card-title {
    font-size: xx-large;
    color: #6700FF;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
    background-color: #150033 !important;
    color: #6700FF !important;
}

.icon-square-invert {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
    background-color: #150033 !important;
    color: #6700FF !important;
}

.icon-square-projects {
    width: 9rem;
    height: 9rem;
    border-radius: .75rem;
    border-color: #6700FF;
    border-width: 0.1rem;
    border: solid;
    margin: 0.15rem;
    background-color: black !important;
    color: #6700FF !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card {
    border-color: #6700FF;
    border-width: 2px;
    border-radius: 1em;
    background-color: #070011 !important;
    color: white !important;
}

.jumbotron {
    border: solid;
    border-color: #6700FF;
    border-width: 2px;
    border-radius: 1em !important;
    background-color: #070011 !important;
    color: white !important;
}

.modal-header {
    border-bottom-color: #9044FF;
}

.modal-footer {
    border-top-color: #9044FF;
}

.col-lg-4 {
    padding-top: calc(var(--bs-gutter-x)* .5);
    padding-bottom: calc(var(--bs-gutter-x)* .5);
}

.carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: end;
    padding-bottom: 2em;
}

    .caption-content {
        display: none;
    }

    .caption-content.active {
        display: block;
    }

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239044ff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239044ff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.translucency-rule-black {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: #000000d0 !important;
}

.translucency-rule, .navbar-fixed-top, .navbar-default, .dropdown-menu, .navbar-nav > li > .dropdown-menu, ul.dropdown-menu {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: #070011d0 !important;
}

    ul.dropdown-menu.tools, ul.dropdown-menu, .dropdown-menu, .navbar-nav > li > .dropdown-menu {
        border-color: #6700FF;
        border-width: 2px;
        border-radius: .75rem;
    }

    .navbar-default .navbar-collapse, .navbar-brand, .navbar-header {
        background-color: transparent !important;
    }

    .navbar-default .navbar-nav > li > a {
        color: #6700FF;
    }

        .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
            color: #6700FF;
            background-color: transparent;
        }

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.nav > li > a:focus, .nav > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    text-decoration: none;
    background-color: unset;
    color: #9044FF;
}

.nav > li > a:hover, .dropdown-menu > li > a:hover, .navbar-nav > .open > a:hover {
    background-color: unset;
    color: #9044FF;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: white;
    text-decoration: none;
    background-color: #150033;
    outline: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: white;
    background-color: #6700FF;
}

input#qsearch.form-control, div.input-group-btn {
    height: fit-content;
}

#dw__toc .nav > li > a:hover {
    border-left: 1px solid #6700FF;
}

#dw__toc .nav > .active > a, #dw__toc .nav > .active > a:hover, #dw__toc .nav > .active > a:focus {
    font-weight: bold;
    background-color: transparent;
    border-left: 2px solid #6700FF;
}

.tooltip-apt {
    font-family: Inter, "Cairo", sans-serif, 'Font Awesome 6 Free', 'Font Awesome 6 Brands';
    --bs-tooltip-bg: #9044FF;
    --bs-tooltip-color: white;
    --bs-tooltip-max-width: 700px;
    --bs-tooltip-border-radius: 0.5em;
    --bs-tooltip-arrow-width: 0px;
    --bs-tooltip-arrow-height: 0px;
}

.sub {
    font-style: oblique;
    font-size: smaller;
    color: gray;
}

.loading-progress {
    position: absolute;
    display: block;
    width: 8rem;
    height: 8rem;
    inset: 20vh 0 auto 0;
    margin: 0 auto 0 auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #150033;
        stroke-width: 0.3rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #9044FF;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.accordion-header {
    border-radius: inherit !important;
}

.accordion-item:not(:first-of-type) {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #6700FF;
    margin-top: 10px;
}

.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%236700FF' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%236700FF' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}

.accordion-button {
    color: #6700FF;
    background-color: #150033;
    border-color: #6700FF;
    border-width: 2px;
    border-radius: inherit !important;
    box-shadow: none;
}

    .accordion-button:not(.collapsed) {
        color: #6700FF;
        background-color: #150033;
        border-color: #6700FF;
        border-width: 2px;
        border-radius: inherit !important;
        box-shadow: none;
    }

    .accordion-button:focus {
        z-index: unset;
        box-shadow: none;
    }

.label-primary {
    background-color: #6700FF;
}

.d-sm-flex {
    flex-wrap: wrap;
}
