::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: var(--apt-accent-back);
}

::-webkit-scrollbar-thumb {
    background-color: var(--apt-accent-1);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--apt-accent-shade-1);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: var(--apt-accent-shade-1);
    }

.loading-progress {
    position: absolute;
    display: block;
    width: 8rem;
    height: 8rem;
    inset: 20vh 0 auto 0;
    margin: 0 auto 0 auto;
}

    .loading-progress circle {
        fill: none;
        stroke: var(--apt-accent-shade-3);
        stroke-width: 0.3rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: var(--apt-accent-shade-5);
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

#blazor-error-ui {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-4);
    bottom: 0;
    box-shadow: var(--apt-styling-unified-box-shadow);
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
