.wikilink1, .urlextern, .breadcrumb {
    color: var(--apt-accent-1);
}

.page-header, .divider, hr, .breadcrumb {
    border-color: var(--apt-accent-1);
    border-top-color: var(--apt-accent-1);
    border-top-width: var(--apt-styling-border-width);
}

.page-header {
    border-bottom-width: var(--apt-styling-border-width);
}

.divider {
    background-color: var(--apt-accent-1);
    height: var(--apt-styling-border-width);
}

input#qsearch.form-control, div.input-group-btn {
    height: fit-content;
}

.panel-default > .panel-heading {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
    border-radius: var(--apt-styling-border-radius);
}
